<a href="https://colab.research.google.com/github/rsbdvc/Boat-Optimization/blob/main/Lab_4_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
#Charles Heyworth
#ywq9bk
# References: Used ChatGPT/Gemini to simply look up python methods/syntax

import seaborn as sns
iris = sns.load_dataset('iris')

iris[iris['species'] == 'virginica']['sepal_width'].min()

mean_petal = iris["petal_length"].mean()
df = iris[ iris["petal_length"] > mean_petal ]
len(df)

count_versicolor = (iris['species'] == 'versicolor').sum()
mean_sepal_length = iris['sepal_length'].mean()
unique_species = iris['species'].nunique()
count_virginica = (iris['species'] == 'virginica').sum()
#print(count_versicolor,mean_sepal_length,unique_species,count_virginica)

iris.corr(numeric_only=True)

print(
    iris[iris["species"] == "setosa"]["petal_length"].mean(),
    iris.groupby("species")["sepal_width"].mean(),
    iris[iris["species"] == "setosa"]["sepal_length"].std(),
    iris.groupby("species")["sepal_length"].mean()
)

1.4620000000000002 species
setosa        3.428
versicolor    2.770
virginica     2.974
Name: sepal_width, dtype: float64 0.3524896872134512 species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

In [24]:
import seaborn as sns
titanic = sns.load_dataset('titanic')

print(titanic[(titanic['pclass'] == 2) & (titanic['survived'] == 1)].shape[0])

print(str(int(titanic[(titanic['pclass'] == 1) & (titanic['survived'] == 0)]['age'].min())))
print(str(int(titanic[(titanic['pclass'] == 1) & (titanic['survived'] == 0)]['age'].max())))

print(round(titanic[titanic['sex'] == 'female']['survived'].mean() * 100))

print(titanic.isna().sum())

print(titanic.groupby("pclass")["survived"].mean())
print(titanic.groupby("embarked")["survived"].mean())
print(titanic.corr(numeric_only=True)["survived"])

87
2
71
74
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
pclass
1    0.629630
2    0.472826
3    0.242363
Name: survived, dtype: float64
embarked
C    0.553571
Q    0.389610
S    0.336957
Name: survived, dtype: float64
survived      1.000000
pclass       -0.338481
age          -0.077221
sibsp        -0.035322
parch         0.081629
fare          0.257307
adult_male   -0.557080
alone        -0.203367
Name: survived, dtype: float64

NameError: name 'class_code_int' is not defined